/.idea

# Scripts
# Compare Spotify Playlists
/Scripts/Compare Spotify Playlists/.cache
/Scripts/Compare Spotify Playlists/config.json
/Scripts/Compare Spotify Playlists/different_songs.csv
# Update Gradle Plugins
/Scripts/Update Gradle Plugins/config.json
