# This workflow will build a Java project with Gradle and publish the artifacts to GitHub, Modrinth, and CurseForge
# For more information see: https://github.com/Kir-Antipov/mc-publish

name: Publish
on:
  workflow_call:
    inputs:
      java:
        type: string
        required: false
        default: 21
        description: The Java version that should be used to build the project
      task:
        type: string
        required: false
        default: "build"
        description: The Gradle task to run to build the project
      modrinth:
        type: string
        required: false
        description: The ID of the project on Modrinth
      curseforge:
        type: string
        required: false
        description: The ID of the project on CurseForge
      versions:
        type: string
        required: false
        default: ">=1.8.8"
        description: The supported Minecraft versions of the project
      loaders:
        type: string
        required: false
        default: |
          purpur
          paper
          spigot
        description: The supported loaders of the project
      version-type:
        type: string
        required: false
        default: release
        description: The version type (release, beta, alpha)
      dependencies:
        type: string
        required: false
        description: The dependencies of the project
      files:
        type: string
        required: false
        default: build/libs/*.jar
        description: The location of the built files to upload
    secrets:
      MODRINTH_TOKEN:
        required: false
        description: Modrinth token
      CURSEFORGE_TOKEN:
        required: false
        description: CurseForge token

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v5.0.0"
      - uses: "gradle/actions/wrapper-validation@v4.4.2"
      - name: Set up JDK
        uses: "actions/setup-java@v5.0.0"
        with:
          distribution: temurin
          java-version: ${{ inputs.java }}
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build jar with Gradle
        run: ./gradlew ${{ inputs.task }}
      - name: Publish artifacts
        uses: "Kir-Antipov/mc-publish@v3.3.0"
        with:
          game-version-filter: releases
          changelog: ${{ github.event.release.html_url }}
          github-changelog: ${{ github.event.release.body }}
          fail-mode: warn
          
          modrinth-id: ${{ inputs.modrinth }}
          curseforge-id: ${{ inputs.curseforge }}
          game-versions: ${{ inputs.versions }}
          loaders: ${{ inputs.loaders }}
          version-type: ${{ inputs.version-type }}
          dependencies: ${{ inputs.dependencies }}
          files: ${{ inputs.files }}
          
          github-token: ${{ secrets.GITHUB_TOKEN }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
